
.contenedor{
    display: flex;
    flex-direction: column;
}
.seccion {
    font-weight: 600;
}
.seccion-descripcion{
    color:#a7a7a7;
}
hr{
    width: 100%;
    border-top: 2px solid #ececec;
}
.fondo{
    background-color: aqua;
}

.flexboxfila{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.flexboxcolumna{

    display: flex;

    flex-direction: column;

    align-items: center ;

}
